.LeftSideChatOptions__top {
    display: flex;
    position: sticky;
    top: 10px;
    flex-direction: column;
    background-color: white;
}
.LeftSideChatOptions__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    background-color: rgb(236, 235, 235);
    padding: 10px;
    border-radius: 10px;
}
.profileFrameContainer {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ProfileFrameContainer__left {
    flex: 0.1;
}
.ProfileFrameContainer__right {
    flex: 0.9;
}
