.rightSideChatUI__chatInputWrapper {
    display: flex;
    width: 60vw;
    padding: 10px;
    position: fixed;
    bottom: 0px;
    left: 40vw;
    justify-content: center;
    background-color: bisque;
}
.messageBySender {
    margin: 2px 0;
    background-color: rgba(170, 248, 170, 0.808);
    font-size: 20px;
    padding: 10px;
    width: 80%;
    border-radius: 5px;
}
